<div class="col-10 offset-1 about">
  <h1>
    About Splurty
  </h1> 
   <p>
    Star Wars quote generator was built by<a target="_blank" href="https://github.com/vlastikczech">Vlastik</a>. A web developer in progress who's goal is develop useful applications that people may use!
  </p>
  <br />
  <p>
   
  </p>
  <p> 
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'vlastik.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Vlastik Walker</h2>
      <br />
      <p>
        Vlastik Walker is currently enrolled in the Firehose bootcamp (<a target="_blank" href="http://www.thefirehoseproject.com/">program</a>). Check out the <a target="_blank" href="https://github.com/vlastikczech/FirehoseSplurty">project</a>
      </p>
    </div>
  </div>
  
 </div>
  <br class="clear" />
  
  <br />
  <br />
  <br />
  <br />
